

body {
    color: pink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10 px;
 
}
div {
    min-height: 100vh;
    width: 100vw;

}

h1, h2{
    text-align: center;
}

h1{
    font-size: 5em;
}

img{
    display:flex;
    padding: 20px;
    margin:0 auto;
    border-radius: 130px;

}

@import "compass/css3";

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

ol {
    list-style: square;

}

#mujSeznam {
    list-style: square;
    padding:0;
    font-size: 3em;
    margin: 200px;
}

li.item{
    padding:2em;
}

.kocka, .pes {
    color: red;
}

.kralik {
    color: green;
}

li{
    margin: 0 20px;
    transition: 0.6s ease;

}

li:hover{
    font-size: 1.2em;
    transition: 0.6s ease;
}